<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

<bean id="LaVicoDataSource"
   class="org.apache.commons.dbcp.BasicDataSource"
   destroy-method="close">
   <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
   <property name="url" value="jdbc:oracle:thin:@localhost:1521:hldrp301" />
   <property name="username" value="wintest" />
   <property name="password" value="testpound" />
   <property name="maxActive" value="5" />
   <property name="maxIdle" value="3" />
   <property name="minIdle" value="2" />
   <property name="maxWait" value="2" />
   <property name="initialSize" value="1" />
   <property name="removeAbandoned" value="true" />
   <property name="removeAbandonedTimeout" value="180" />
   <property name="logAbandoned" value="true" />
</bean>

<bean id="jdbcDao" class="com.welab.lavico.middleware.SpringJdbcDaoSupport">
   <property name="dataSource">
    <ref bean="LaVicoDataSource" />
   </property>
</bean>


</beans>